<form action="/files/<%= @file_name %>" method="post" id="edit_file">
  <label>Edit content of <%= @file_name %></label>
  <div>
    <textarea cols="100" rows="20" name="content" form="edit_file"><%= @content %></textarea>
  </div>
  <button type="submit" form="edit_file">Save Changes</button>
</form>
