<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/application.css">
  </head>
  <body>

  <% if session[:message] %>
    <p class="message">
      <%= session.delete(:message)%>
    </p>
  <% end %>

  <div class="main">
    <%= yield %>
  </div>

  <p id="footer_line">-------------------------------------------------------------------------------------------------------------------------<p>
  <footer><a href="/">Back to index page</a></footer>
  </body>
</html>
