body {
  padding: 1em;
  font-family: sans-serif;
}

.message {
  padding: 10px;
  background-color: #FFFF99;
}

form.inline_form {
  display: inline;
}

.hint {
  color: lightgrey;
}

#footer_line, #header_line {
  color: lightgray;
}

#btn_upload_image {
  display: block;
  padding: 10px 0px;
}

.main {
  padding: 5px 50px;
}

ul#doc_list {
  list-style-type: square;
}

#form_upload_image {
  border-left: 3px solid lightgray;
  padding-left: 5px;
}

.doc_item {
  padding: 5px 0px;
}

#user_status {
  font-size: 0.6em;
  color: orange;
}

.version_list {
  color: gray;
  margin-top: 1em;
  padding-left: 5px;
  border-left: 3px solid lightgray;
}

.edit_file {
  margin-top: 5em;
}
